PORT=3000
NODE_ENV=development

RMQ_URL=amqp://admin:password@shared-rabbitmq:5672
RMQ_EXCHANGE_NAME=ex.notification
RMQ_EXCHANGE_TYPE=topic
RMQ_QUEUE_NAME=q.notification.email
RMQ_QUEUE_TYPE=quorum

BREVO_API_KEY=your-brevo-api-key
BREVO_SENDER_EMAIL=noreply@promptoptimizer.com
BREVO_SENDER_NAME=Prompt Optimizer
